<!--Service-->
<h3 style="color:red;" data-sly-test="${wcmmode.edit}">Service Component</h3>
<sly data-sly-use.services="com.aem.community.core.models.ServicesModel"/>
<section  id="service">
  <div class="container">
    <h2>${properties.title}</h2>
    <div class="service_wrapper">
    	<div class="row" data-sly-list.service="${services.items}">
	        <div class="col-lg-4">
	          <div class="service_block">
	            <div class="service_icon delay-03s animated wow  zoomIn"> <span><i class="fa fa-android"></i></span> </div>
	            <h3 class="animated fadeInUp wow">${service.title}</h3>
	            <p class="animated fadeInDown wow">${service.description}</p>
	          </div>
	      </div>
    </div>
    </div>
  </div>
</section>
<!--Service-->