<div class="container">
	<div class="row">
		<form id="customerform" method="POST">
		  <div class="form-group">
		    <label for="cus-firstname">First Name:</label>
		    <input type="text" class="form-control" name="cus-firstname">
		  </div>
		  <div class="form-group">
		    <label for="cus-lastname">Last Name:</label>
		    <input type="text" class="form-control" name="cus-lastname">
		  </div>
		  <button type="submit">Save</button>
		</form>
	</div>
</div>
<div class="container">
	<div class="row">
		<h2>List customers</h2>
		<table class="table table-bordered">
		  <thead>
		    <tr>
		      <th>#</th>
		      <th>First Name</th>
		      <th>Last Name</th>
		      <th>Username</th>
		      <th></th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th scope="row">1</th>
		      <td>Mark</td>
		      <td>Otto</td>
		      <td>@mdo</td>
		      <td><button type="button" class="btn btn-primary">Edit</button><button type="button" class="btn btn-danger">Delete</button></td>
		    </tr>
		    <tr>
		      <th scope="row">2</th>
		      <td>Mark</td>
		      <td>Otto</td>
		      <td>@TwBootstrap</td>
		    </tr>
		    <tr>
		      <th scope="row">3</th>
		      <td>Jacob</td>
		      <td>Thornton</td>
		      <td>@fat</td>
		    </tr>
		    <tr>
		      <th scope="row">4</th>
		      <td colspan="2">Larry the Bird</td>
		      <td>@twitter</td>
		    </tr>
		  </tbody>
		</table>
	</div>
</div>